<div class="rounded-lg shadow-lg p-4 keep-all bg-white">
    <div class="flex flex-row mb-6">
        <a href="/confirmation" class="mr-2 px-6 py-2 bg-blue-500 text-white rounded-full shadow-md">Korea</a>
        <a href="/confirmation-global" class="px-6 py-2 bg-white text-black rounded-full shadow-md">World</a>
    </div>
    <div class="mb-4">
        <h3 class="w-full border-b border-gray-400 text-xl mb-2">국내 코로나 현황</h3>
        <p class="ml-2">
        <table class="table-auto" id="cityStateTable">
            <tr>
                <th class="px-4 py-2">City</th>
                <th class="px-4 py-2">Confirm Cases</th>
            </tr>
            {{#each data}}
                <tr>
                    <td class="border px-4 py-2">{{city}}</td>
                    <td class="border px-4 py-2">{{case}}</td>
                </tr>
            {{/each}}
        </table>
        </p>
    </div>
</div>