<div class="rounded-lg shadow-lg mb-4 overflow-hidden">
    <img class="w-full" src="/picture/banner.jpg">
</div>
<div class="rounded-lg shadow-lg p-4 keep-all bg-white">
    <div class="mb-4">
        <h3 class="w-full border-b border-gray-400 text-xl mb-2">Covid-19 (Definition)</h3>
        <p class="ml-2">
            COVID-19 is a respiratory infection caused by a new type of coronavirus (SARS-CoV-2) that first outbroke in China and around the world since its first occurrence in Wuhan, China in December 2019.
        </p>
    </div>
    <div class="mb-4">
        <h3 class="w-full border-b border-gray-400 text-xl mb-2">정의</h3>
        <p class="ml-2">
            2019년 12월 중국 우한에서 처음 발생한 이후 중국 전역과 전 세계로 확산된, 새로운 유형의 코로나바이러스(SARS-CoV-2)에 의한 호흡기 감염질환이다.
        </p>
    </div>
    <div class="mb-4">
        <h3 class="w-full border-b border-gray-400 text-xl mb-2">Covid-19(Propagation path)</h3>
        <p class="ml-2">
            For now, the virus is known to spread through respiratory droplets and direct contact.
        </p>
        <ul class="ml-2 list-inside list-disc">
            <li>
                Propagation through respiratory droplets from coughing or sneezing
            </li>
            <li>
                From touching eyes, nose or mouth after touching objects contaminated with the COVID-19 virus.
            </li>
        </ul>
    </div>
    <div class="mb-4">
        <h3 class="w-full border-b border-gray-400 text-xl mb-2">감염경로</h3>

        <p class="ml-2">
            현재까지는 비말(침방울), 접촉을 통한 전파로 알려짐
        </p>
        <ul class="ml-2 list-inside list-disc">
            <li>
                기침이나 재채기를 할 때 생긴 비말(침방울)을 통한 전파 등
            </li>
            <li>
                코로나19 바이러스에 오염된 물건을 만진 뒤 눈, 코, 입을 만짐
            </li>
        </ul>
    </div>
    <div class="mb-4">
        <h3 class="w-full border-b border-gray-400 text-xl mb-2">잠복기(Incubation period)</h3>
        <p class="ml-2">1~14day (Average 4~7day)</p>

    </div>
    <div class="mb-4">
        <h3 class="w-full border-b border-gray-400 text-xl mb-2">증상(Symptom)</h3>
        <p class="ml-2">
            Various respiratory infections ranging from mild to moderate including but not limited to :fever, boredom, coughing, difficulty breathing and pneumonia. Rare cases of other phlegm, sore throat, headache, hemoptysis, nausea, and diarrhea are also reported. Cases of asymptomatic infection
            are also rare.
        </p>
        <p class="ml-2">
            발열, 권태감, 기침, 호흡곤란 및 폐렴 등 경증에서 중중까지 다양한 호흡기감염증이 나타남. 그 외 가래, 인후통, 두통, 객혈과 오심, 설사 등도 나타남. 무증상 감염 사례도 드물게 나오고 있다.
        </p>

    </div>
</div>
