<div class="rounded-lg shadow-lg p-4 keep-all bg-white">
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=99cafe0d1b142febd77cbf11edc1ee76&libraries=services"></script>
    <script>
        new daum.Postcode({
            oncomplete: function (data) {
                const geocoder = new kakao.maps.services.Geocoder();
                geocoder.addressSearch(data.address, function (result, status) {
                    if (status === kakao.maps.services.Status.OK) {
                        window.location.href = `/masks/result?lat=${result[0].y}&lng=${result[0].x}`;
                        const date = new Date();
                        date.setTime(date.getTime() + 300000);
                        document.cookie = `coordinate=${result[0].y}, ${result[0].x};expires=${date.toUTCString()};path=/`
                    }
                })
            },
            onclose: function (state) {
                window.location.href = '/masks'
            }
        }).open();
    </script>
</div>
