<div class="rounded-lg shadow-lg p-4 keep-all bg-white">
    <div class="flex flex-row mb-6">
        <a href="/tips" class="mr-2 px-6 py-2 bg-white text-black rounded-full shadow-md">행동수칙</a>
        <a href="/tips-for-all" class="mr-2 px-6 py-2 bg-blue-500 text-white rounded-full shadow-md">국민 예방수칙(National Precautions)</a>
        <a href="/tips-for-symptoms" class="px-6 py-2 bg-white text-black rounded-full shadow-md">유증상자 예방수칙(Precautions for people with symptoms)</a>
    </div>
    <div class="mb-4">
        <h3 class="w-full border-b border-gray-400 text-xl mb-2">국민 예방수칙(National Precautions)</h3>

        <div class="flex flex-col ml-2">

            <div class="flex flex-row items-center mb-4">
                <div class="w-8 text-2xl font-thin">1</div>
                <p class="w-10/12">Wash your hands thoroughly with soap and running water (흐르는 물에 비누로 꼼꼼하게 손씻기)</p>
            </div>
            <div class="flex flex-row items-center mb-4">
                <div class="w-8 text-2xl font-thin">2</div>
                <p class="w-10/12">Cover your mouth and nose with sleeves when coughing or sneezing (기침이나 제채기할 때 옷소매로 입과 코 가리기)</p>
            </div>
            <div class="flex flex-row items-center mb-4">
                <div class="w-8 text-2xl font-thin">3</div>
                <p class="w-10/12">Avoid touching your eyes, nose and mouth with unwashed hands (씻지 않은 손으로 눈,코,입 만지지 않기)</p>
            </div>
            <div class="flex flex-row items-center mb-4">
                <div class="w-8 text-2xl font-thin">4</div>
                <p class="w-10/12">Avoid contact with those with fever and respiratory symptoms (발열, 호흡기 증상자와의 접촉 피하기)</p>
            </div>
        </div>
    </div>
</div>
