<div class="rounded-lg shadow-lg p-4 keep-all bg-white">
    <div class="flex flex-row mb-6">
        <a href="/tips" class="mr-2 px-6 py-2 bg-white text-black rounded-full shadow-md">행동수칙</a>
        <a href="/tips-for-all" class="mr-2 px-6 py-2 bg-white text-black rounded-full shadow-md">국민 예방수칙(National Precautions)</a>
        <a href="/tips-for-symptoms" class="px-6 py-2 bg-blue-500 text-white rounded-full shadow-md">유증상자 예방수칙(Precautions for people with symptoms)</a>
    </div>
    <div class="mb-4">
        <h3 class="w-full border-b border-gray-400 text-xl mb-2">유증상자 예방수칙(Precautions for people with symptoms)</h3>
        <div class="flex flex-col ml-2">

            <div class="flex flex-row items-center mb-4">
                <div class="w-8 text-2xl font-thin">1</div>
                <img class="h-10 rounded-full inline pr-4" src="./picture/학교가지 않기.png" alt="">
                <p class="w-10/12">Avoid going out without going to school or going to work (등교나 출근을 하지 않고 외출 자제하기)</p>
            </div>
            <div class="flex flex-row items-center mb-4">
                <div class="w-8 text-2xl font-thin">2</div>
                <img class="h-10 rounded-full inline pr-4" src="./picture/stay-home.png" alt="">
                <p class="w-10/12">Take enough rest at home while observing 3-4 days (3~4일 경과를 관찰하며 집에서 충분히 휴식 취하기)</p>
            </div>
            
            
            <div class="flex flex-row items-center mb-4">
                <div class="w-8 text-2xl font-thin">3</div>
                <img class="h-10 rounded-full inline pr-4" src="./picture/만지지말기.png" alt="">
                <p class="w-10/12">High fever persists or symptoms become severe(고열이 지속되거나 증상이 심해질 경우)--Call center (1339, area code +120), first visit to the competent health center and screening clinic and receive medical treatment (콜센터(1339,지역번호+120),관할보건소 및 선별진료소 우선 방문 후 진료받기)</p>
            </div>
            <div class="flex flex-row items-center mb-4">
                <div class="w-8 text-2xl font-thin">4</div>
                <img class="h-10 rounded-full inline pr-4" src="./picture/마스크끼고 자차로 이동.png" alt="">
                <p class="w-10/12">Wear a mask and use your own car when visiting a medical institution (의료기관 방문 시 마스크 착용 및 자차 이용하기)</p>
            </div>
            <div class="flex flex-row items-center mb-4">
                <div class="w-8 text-2xl font-thin">5</div>
                <img class="h-10 rounded-full inline pr-4" src="./picture/체크리스트.png" alt="">
                <p class="w-10/12">Informing medical staff of overseas medical experience and contact with respiratory symptoms (진료 의료진에게 해외경력 및 호흡기 증상자와의 접촉여부 알리기)</p>
            </div>
            <div class="flex flex-row flex-wrap items-center mb-4">
                <div class="w-8 text-2xl font-thin">6</div>
                <img class="h-10 rounded-full inline pr-4" src="./picture/접촉 피하기.png" alt="">
                <p class="w-10/12">In Korea's Corona19 unsafe area(국내 코로나19 위험지역에서)--Refrain from going out or visiting other areas, and quarantine personnel should strictly follow the directions
                of medical personnel and quarantine authorities.( 외출,타지역 방문을 자제하고 격리자는 의료인,방역당국의 지시 철저히 따르기.)</p>
            </div>
        </div>
    </div>
</div>
