<div class="rounded-lg shadow-lg p-4 keep-all bg-white">
    <div class="flex flex-row mb-6">
        <a href="/tips" class="mr-2 px-6 py-2 bg-white text-black rounded-full shadow-md">Precautions</a>
        <a href="/tips-for-all" class="mr-2 px-6 py-2 bg-white text-black rounded-full shadow-md">National Precautions</a>
        <a href="/tips-for-symptoms" class="px-6 py-2 bg-blue-500 text-white rounded-full shadow-md">Precautions for people with symptoms</a>
    </div>
    <div class="mb-4">
        <h3 class="w-full border-b border-gray-400 text-xl mb-2">Precautions for people with symptoms(유증상자 예방수칙)</h3>
        <div class="flex flex-col ml-2">
            <div class="flex flex-row items-center mb-4">
                <div class="w-8 text-2xl font-thin">1</div>
                <img class="h-10 rounded-full inline pr-4" src="./picture/no-school.png" alt="">
                <p class="w-10/12">Avoid going to school or work (등교나 출근을 하지 않고 외출 자제하기)</p>
            </div>
            <div class="flex flex-row items-center mb-4">
                <div class="w-8 text-2xl font-thin">2</div>
                <img class="h-10 rounded-full inline pr-4" src="./picture/stay-home.png" alt="">
                <p class="w-10/12">Take enough rest at home and observe for 3 ~ 4 days (3~4일 경과를 관찰하며 집에서 충분히 휴식
                    취하기)</p>
            </div>
            <div class="flex flex-row items-center mb-4">
                <div class="w-8 text-2xl font-thin">3</div>
                <img class="h-10 rounded-full inline pr-4" src="./picture/health-center.png" alt="">
                <p class="w-10/12">If high fever persists or symptoms become severe call COVID-19 emergency first
                    response center (1339, area code +120), visit competent health center or screening clinic, and
                    receive medical treatment (고열이 지속되거나 증상이 심해질 경우, 콜센터(1339,지역번호+120), 관할보건소 및 선별진료소 우선 방문 후 진료받기)</p>
            </div>
            <div class="flex flex-row items-center mb-4">
                <div class="w-8 text-2xl font-thin">4</div>
                <img class="h-10 rounded-full inline pr-4" src="./picture/with-mask.png" alt="">
                <p class="w-10/12">Wear a mask and use your own car when visiting a medical institution (의료기관 방문 시 마스크
                    착용 및 자차 이용하기)</p>
            </div>
            <div class="flex flex-row items-center mb-4">
                <div class="w-8 text-2xl font-thin">5</div>
                <img class="h-10 rounded-full inline pr-4" src="./picture/todo-list.png" alt="">
                <p class="w-10/12">Inform medical staff of any oversea travels and contacts with those with respiratory
                    symptoms (진료 의료진에게 해외경력 및 호흡기 증상자와의 접촉여부 알리기)</p>
            </div>
            <div class="flex flex-row flex-wrap items-center mb-4">
                <div class="w-8 text-2xl font-thin">6</div>
                <img class="h-10 rounded-full inline pr-4" src="./picture/doctor.png" alt="">
                <p class="w-10/12">Avoid leaving home or visiting other areas while staying in areas with COVID-19
                    outbreaks. Follow orders from medical staffs and government authorities while being quarantined. (국내
                    코로나19 위험지역에서 외출, 타지역 방문을 자제하고 격리자는 의료인, 방역당국의 지시 철저히 따르기)</p>
            </div>
        </div>
    </div>
</div>
