#high {
    color: gray;
    width: 87%;
    height: 20%;
    padding-top: 25px;
    margin-left: 127px;
    border-bottom: solid #19D5BF
}

#left {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 127px;
    margin-right: 30px;
    width: 8%;
    height: 800px;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
}

#right {
    padding-left: 80px;
    border-left: solid #19D5BF;
    margin-left: 50px;
    display: inline-block;
}

#bottom {
    text-align: right;
    margin-left: 127px;
    width: 87%;
    height: 180px;
    border-top: solid #19D5BF
}

a:link {
    color: gray;
    text-decoration: none;
}

a:visited {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: #19D5BF;
    text-decoration: none;
}